// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination_block {
  text-align: center;
}
.pagination_block li {
  list-style: none;
  float: left;
}
.page {
  margin: 5px;
}
.next {
  margin: 5px;
}
.last {
  margin: 5px;
}